.w3-container.top {
  padding-left: 5px;
  margin: 30px 30px 0px 30px;
}

.name {
  color: rgb(85,14,117);
  font-family: 'Merriweather',
    serif;
  font-size: 59px;
  padding: 55px;
}

.logo {
  float: right;
  border-radius: 50%;
  width: 380px;
  height: 300px;
}

.work {
  margin: 30px;
  text-align: center;
}

.w3-padding-64 {
  padding-left: 40px;
}

.img {
  position: relative;
  float: left;
  width: 275px;
  height: 275px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.w3-container {
  margin-top: 15px;
}

.first-cont {
  padding-top: 45px;
}

ul {
  list-style-type: none;
}

a:link,
i {
  text-decoration: none;
  list-style-type: none;
  color: rgb(0,0,0);
  padding-right: 8px;
}

.signin {
  font-size: 10px;
}

.social-media {
  font-size: 55px;
}

.second-row {
  margin-top: 45px;
}

.float-right {
  margin-right: -490px;
}

.love {
  font-size: 17px;
  margin-left: 212px;
}

.img-footer {
  width: 50px;
  height: 50px;
  margin-bottom: 33px;
  border-radius: 50%;
}


/* Footer */
.footer {
  margin: 30px;
  padding-bottom: 30px;
  padding-top: 30px;
}

footer,
div.w3-container.top {
  background-color: rgb(155,143,162);
}

.heart {
  color: rgb(85,14,117);
  /* font-size: 20px; */
}

/* Image Overlay Title  */
* {
  box-sizing: border-box
}

/* Container needed to position the overlay. Adjust the width as needed */
.container {
  position: relative;
  width: 50%;
  max-width: 300px;
}

/* Dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(249,249,249);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  opacity: 0.9;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Coming Soon */
#home {
  color: rgb(255,255,255);
}

.btn {
  background-color: rgb(255,215,0);
}

.skills {
  font-style: oblique;
}

.bgimg {
  background-image: url('staircase.jpg');
  height: 95%;
  background-position: center;
  background-size: cover;
  position: relative;
  color: rgb(255,255,255);
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
  height: 100%
}

.bottomleft {
  position: absolute;
  bottom: 0;
  left: 16px;
  font-size: 10px;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

hr {
  margin: auto;
  width: 40%;
}

/* Flip Card */
h3, h4, h5, h6 {
  color: rgb(255,255,255);
}

.office, .wanda {
  font-size: 12px;
}

.flip-card {
  background-color: transparent;
  width: 275px;
  height: 275px;
  perspective: 1000px;
  transform: rotateX(0deg)
  -webkit-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  -webkit-transition: transform 0.6s;
  -ms-transition: transform 0.6s;
  -moz-transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: rgb(187,187,187);
  color: rgb(0,0,0);
  z-index: 2;
  transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
}

.flip-card-back {
  background-color: rgb(0,0,153);
  color: rgb(255,255,255);
  z-index: 1;
  transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
}

.btn-info {
    color: rgb(255,255,255);
    background-color: rgb(85,14,117);
    border-color: rgb(85,14,117);

/* Smartphones (portrait) ---------- */
@media screen and (max-width: 320px) {
  body {
    background: ;
  }
}

/* Smartphones (landscape) ---------- */
@media screen and (min-width: 321px) {
  body {
    background: ;
  }
}

/* tablets, iPads (portrait and landscape) ---------- */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    background: ;
  }
}

/* tablets, iPads (portrait) ---------- */
@media screen and (min-width: 768px) {
  body {
    background: ;
  }
}

/* tablets, iPads (landscape) ---------- */
@media screen and (min-width: 1024px) {
  body {
    background: ;
  }
}

/* Desktops and laptops ---------- */
@media screen and (min-width: 1224px) {
  body {
    background: ;
  }
}

/* Large screens ---------- */
@media screen and (min-width: 1824px) {
  body {
    background: ;
  }
}
